body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color:rgba(201, 201, 201, 0.2);
    z-index: 1;
}
article{
    width: 250px;
    height: 743px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 2;
    border: 2px solid rgba(197, 197, 197, 0.2);
}
h2{
    color: rgba(3, 27, 205, 0.7);
    position: absolute;
    top: 10px;
    left: 65px;
    font-size: 30px;
    z-index: 3;
}
.line{
    background-color:  rgba(148, 160, 255, 0.7);
    width: 185px;
    height: 1px;
    position: absolute;
    left: 18px;
    top: 100px;
}
.kuang1{
    background-color: rgb(254, 254, 254);
    width: 190px;
    height: 40px;
    position: absolute;
    left: 10px;
    top:150px ;
    border-radius: 10px;
   
}
.p1_img{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 155px;
    left: 20px;
    cursor: pointer;
}
.p1{
    position: absolute;
    top:140px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
}
.p1:hover{
    cursor: pointer;
    color: rgb(60, 82, 249);
}
.p1:hover .kuang1{
    display: inline;
    background-color:  rgba(148, 160, 255, 1);
}
.p2_img{
    width: 25px;
    height: 25px;
    position:absolute;
    top: 205px;
    left: 20px;
    cursor: pointer;
}
.p2{
    position: absolute;
    top:190px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
}

.p3_img{
    width: 25px;
    height: 25px;
    position:absolute;
    top: 255px;
    left: 20px;;
    cursor: pointer;
}
.p3{
    position: absolute;
    top:240px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
} 
.product > img{
    width: 20px;
    height: 20px;
    position:absolute;
    top: 257px;
    left: 185px;
    cursor: pointer;
}
.product_content{
    background-color: whitesmoke;
    width:249px;
    height:90px ;
    position: absolute;
    top: 290px;
    left: 0;
    display:none;
    cursor: pointer;
}
#a1{
    text-decoration: none;/*去下滑线*/
    color: rgb(194, 201, 253);
    position: absolute;
    top: 0px;
    left: 80px;
    cursor: pointer;
}
#a2{
    text-decoration: none;/*去下滑线*/
    color:  rgb(194, 201, 253);
    position: absolute;
    top: 30px;
    left: 80px;
    cursor: pointer;
}
#a3{
    text-decoration: none;/*去下滑线*/
    color:  rgb(194, 201, 253);
    position: absolute;
    top: 60px;
    left: 80px;
    cursor: pointer;
}
.p4_img{
    /* background-color: rgb(255, 255, 255); */
    width: 25px;
    height: 25px;
    position:absolute;
    top: 305px;
    /* top: 385px; */
    left: 20px;
    cursor: pointer;
}
.p4{
    position: absolute;
    top:290px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
}
.p4_imgg{
    width: 20px;
    height: 20px;
    position:absolute;
    top: 307px;
    left: 185px;
    cursor: pointer;
}
.p5_img{
    width: 25px;
    height: 25px;
    position:absolute;
    top: 355px;
    left: 20px;
    cursor: pointer;
}
.p5{
    position: absolute;
    top:340px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
}
.p5_imgg{
    width: 20px;
    height: 20px;
    position:absolute;
    top: 357px;
    left: 185px;
    cursor: pointer;
}
.p6_img{
    width: 25px;
    height: 25px;
    position:absolute;
    top: 405px;
    left: 20px;
    cursor: pointer;
}
.p6{
    position: absolute;
    top:390px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
}
.p7_img{
    width: 25px;
    height: 25px;
    position:absolute;
    top: 665px;
    left: 20px;
    cursor: pointer;
}
.p7{
    position: absolute;
    top:650px;
    left: 60px;
    color: rgba(148, 160, 255, 1);
    cursor: pointer;
}
.t1{
    color:  rgb(63, 78, 190);
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 300px;
}

.searchtext{
    background-color: white;
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 280px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    top: 44px;
    right: 40px;
    z-index: 1;
}
header > img{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 53px;
    right: 290px;
    z-index: 2;
}
header > input{
    position: absolute;
    top: 48px;
    right: 85px;
    width: 200px;
    height: 28px;
    border:0;
    z-index: 3;
}
header > input:focus{
    outline:none
}
.denglu{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 130px;
    height: 35px;
    border-radius: 10px;
    position: absolute;
    top: 44px;
    right: 350px;
    z-index: 0;
}
.picture{
    width: 28px;
    height: 28px;
    border-radius:25px ;
    position: absolute;
    top: 48.5px;
    right: 444px;
}
header > p{
position: absolute;
right: 410px;
top: 36px;
}
.gengduo{
    width: 10px;
    height: 10px;
    position: absolute;
    top: 60px;
    right: 360px;
}
.section01{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 280px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    right: 970px;
    
}
.section01 > div{
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: width 2s;
    position: absolute;
    top: 45px;
    left: 30px;
}
.section02{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 280px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    right: 660px;
}
.section02 > div{
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: width 2s;
    position: absolute;
    top: 45px;
    left: 30px;
}
.section03{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 280px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    right: 350px;
}
.section03 > div{
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: width 2s;
    position: absolute;
    top: 45px;
    left: 30px;
}
.section04{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 280px;
    height: 120px;
    border-radius: 10px;
    position: absolute;
    top: 95px;
    right: 40px;
}
.section04 > div{
    color: rgb(0, 0, 0);
    font-size: 25px;
    transition: width 2s;
    position: absolute;
    top: 45px;
    left: 30px;
}
.section05{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 820px;
    height: 360px;
    border-radius: 10px;
    position: absolute;
    left: 299px;
    top: 230px;
}
.section06{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 370px;
    height: 360px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    top: 230px;
}
.section07{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(155, 155, 155, 0.2);
    width: 1210px;
    height: 135px;
    border-radius: 10px;
    position: absolute;
    right: 40px;
    bottom: 5px;
}