body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: url(./bg.png) no-repeat;
    background-size: cover;
    /*充满整个区域*/
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*居中*/
    align-items: center;
    width: 360px;
    height: 450px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    /* 边框 */
    backdrop-filter: blur(5px);
    /*模糊*/
    background-color: rgba(50, 50, 50, 0.4);
    position: absolute;
    top: 90px;
    border-radius: 15px;
}

/*login*/
h2 {
    color: rgba(255, 255, 255, 0.7);
    position: absolute;
    top: 30px;
    font-size: 30px;
}

/*账号*/
.box1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 110px;
}

.box1>label {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}

.box1>input {
    box-sizing: border-box;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}

.box1>input:focus {
    border: 1px solid rgba(255, 255, 255, 0.8);
}

.box1>div {
    /* background-color: rgba(160, 160, 160, 0.3);
   border: 1px solid rgba(255,255,255,0.3);   
   width: 240px; */
    height: 15px;
    margin-top: -4px;
    margin-left: 10px;
    color: rgba(240, 40, 0, 0.8);
    font-size: 10px;
    display: none;
}

/*密码*/
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 182px;
}

.box2>label {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}

.box2>input {
    box-sizing: border-box;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}

.box2>input:focus {
    border: 1px solid rgba(255, 255, 255, 0.8);

}

.box2>img {
    position: absolute;
    bottom: 10px;
    right: 14px;
    background-size: 100%;
    cursor: pointer;
}

.box2>div {
    /* background-color: rgba(160, 160, 160, 0.3);
  border: 1px solid rgba(255,255,255,0.3);    */
    width: 240px;
    height: 15px;
    margin-top: -3px;
    margin-left: 10px;
    color: rgba(240, 40, 0, 0.8);
    font-size: 10px;
    display: none;
}

/*确认密码*/
.box3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: absolute;
    top: 255px;

}

.box3>label {
    margin-bottom: 5px;
    color: rgba(255, 255, 255, 0.7);
    font-size: 13px;
}

.box3>input {
    box-sizing: border-box;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}

.box3>input:focus {
    border: 1px solid rgba(255, 255, 255, 0.8);

}

.box3>img {
    position: absolute;
    bottom: 11px;
    right: 14px;
    background-size: 100%;
    cursor: pointer;
}

.box3>div {
    /* background-color: rgba(160, 160, 160, 0.3);
  border: 1px solid rgba(255,255,255,0.3);    */
    width: 240px;
    height: 15px;
    margin-top: -3.5px;
    margin-left: 10px;
    color: rgba(240, 40, 0, 0.8);
    font-size: 10px;
    display: none;
}

a:hover {
    color: blue;
    font-size: 13px;
}

/*确认注册*/
button {
    width: 50%;
    height: 35px;
    border: 1px solid rgba(197, 81, 58, 0.8);
    background: rgba(197, 81, 58, 0.5);
    color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    position: absolute;
    top: 335px;
    margin-top: 20px;
    align-items: center;

}

button:hover {
    border: 1px solid rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.5);

}