body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100px;
    background: url(./bg.png) no-repeat;
    background-size:cover ;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content:center;/*居中*/
    align-items: center;
    width: 360px;
    height: 480px;
    border: 1px solid rgba(255,255,255,0.2);/* 边框 */
    backdrop-filter: blur(5px);/*模糊*/
    background-color: rgba(50,50,50,0.4);
    position: absolute;
    top: 90px;
    border-radius:15px;
}
/*login*/
h2{
    color: rgba(255,255,255,0.7);
    margin-bottom: 25px;
}
/*账号*/
.box1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

.box1 > label{
    margin-bottom: 5px;
    color: rgba(255,255,255,0.7);
    font-size: 13px;
}
.box1 > input{
    box-sizing: border-box;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}
.box1 > input:focus{
    border: 1px solid rgba(255,255,255,0.8);

}
/* 原账号 */
.box1_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

.box1_1 > label{
    margin-bottom: 5px;
    color: rgba(255,255,255,0.7);
    font-size: 13px;
}
.box1_1 > input{
    box-sizing: border-box;
    margin-bottom: 5px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}
.box1 > input:focus{
    border: 1px solid rgba(255,255,255,0.8);

}
/*密码*/
.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

 .box2 > label{
    margin-bottom: 5px;
    color: rgba(255,255,255,0.7);
    font-size: 13px;
}
 .box2 > input{
    box-sizing: border-box;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}
 .box2 > input:focus{
    border: 1px solid rgba(255,255,255,0.8);

}
/*确认密码*/
.box3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 10px;
}

 .box3 > label{
    margin-bottom: 5px;
    color: rgba(255,255,255,0.7);
    font-size: 13px;
}
 .box3 > input{
    box-sizing: border-box;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
    height: 35px;
    width: 250px;
    background-color: rgba(160, 160, 160, 0.3);
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 5px;
    transition: 0.3s;
    outline: none;
    padding: 0 10px;
}
 .box3 > input:focus{
    border: 1px solid rgba(255,255,255,0.8);

}

/*确认修改*/
button{
    width: 50%;
    height: 35px;
    border:  1px solid rgba(197,81,58,0.8);
    background: rgba(197,81,58,0.5);
    color: rgba(255,255,255,0.9);
    border-radius: 5px;
    margin-top: 20px;
    align-items: center;

}
button:hover {
    border:  1px solid rgba(255,255,255,0.8);
    background: rgba(255,255,255,0.5);

}